apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: headlamp
  namespace: kube-system
spec:
  valuesContent: |-
    ingress:
      enabled: true
      hosts:
        - host: headlamp.localhost
          paths:
            - path: /
              type: ImplementationSpecific
