apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argocd
  namespace: kube-system
spec:
  valuesContent: |-
    configs:
      params:
        server.insecure: true
    server:
      ingress:
        enabled: true
        hostname: argocd.fumo.jp
        extraTls:
          - secretName: argocd-ingress-tls
            hosts:
              - argocd.fumo.jp
        annotations:
          cert-manager.io/cluster-issuer: fumo-issuer
