apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argocd
  namespace: kube-system
spec:
  valuesContent: |-
    server:
      ingress:
        enabled: true
        hostname: argocd.fumo.jp
        tls: true
        annotations:
          cert-manager.io/cluster-issuer: fumo-issuer
